<div class="container-fluid cover-image d-flex align-items-center justify-content-center">
    <img id="cover-img">
    <div class="input-cover-image">
        <label class="btn" for="input-cover-img">
            <i class="fa-regular fa-image"></i></br>
            Change Image
        </label>
        <input class="d-none" type="file" id="input-cover-img" accept="image/*" name="cover-img">
    </div>
</div>
<div class="container-md p-0 ms-auto me-auto mb-5">
    <div class="edit-profile">
        <div class="profile-user">
            {{#if user}}
            <img id="avatar" src="{{user.ava}}">
            {{else}}
            <img id="avatar" src="/assets/images/user.png">
            {{/if}}
            <h3 class="fw-bolder">Waldez Thai</h3>
            <button class="change-ava-btn" id="change-ava-btn">
                <label for="change-ava"><i class="fa-regular fa-pen-to-square fs-4"></i></label>
            </button>
            <input id="change-ava" class="d-none" type="file">
        </div>
        <form>
            <div class="d-flex flex-column gap-3 mt-4 mb-4">
                <div class="">
                    <label class="mb-1">Bio</label>
                    <input id="bio" type="text">
                </div>
                <div class="mt-4">
                    <label class="mb-1">Add Photos</label>
                    <label id="input-image" class="fw-bold btn" for="input-img"><i
                            class="fa-solid fa-camera fs-5"></i>&nbsp;UP LOAD</label>
                    <div id="input-profile-img" class="input-img">
                        <input id="input-img" accept="image/*" class="d-none" type="file" multiple>
                        <div class="preview d-none d-flex flex-wrap gap-1 border p-3 mt-3 rounded-1 bg-light">
                        </div>
                    </div>

                </div>
                <div class="">
                    <label class="mb-1">Profile descriptions</label>
                    <textarea name="Text1" cols="40" rows="5"></textarea>
                </div>
                <h6 class="fw-bold mt-4">Questions</h6>
                <div class="">
                    <label class="mb-1">What have you been doing in the past?</label>
                    <textarea name="Text1" cols="40" rows="3"></textarea>
                </div>
                <div class="">
                    <label class="mb-1">What kind of person you are?</label>
                    <textarea name="Text1" cols="40" rows="3"></textarea>
                </div>
                <div class="">
                    <label class="mb-1">What is your favorite?</label>
                    <textarea name="Text1" cols="40" rows="3"></textarea>
                </div>
                <div class="">
                    <label class="mb-1">Your Travel Experience?</label>
                    <textarea name="Text1" cols="40" rows="3"></textarea>
                </div>
                <button class="btn-gradient-info d-block m-auto" type="submit">SAVE PROFILE</button>
            </div>
        </form>
    </div>
</div>