<img class="home-bg-image" src="./assets/homepage-background.jpg">
<div class="container-fluid homepage-intro p-0">
    <div class="container-xl intro-container p-0 m-auto">
        <div>
            <div class="text-1 text-white">Travel the world</div>
            <div class="text-1 text-white">in a new, exited way.</div>
            <div class="text-2 text-white">Solo yet in a group</div>
            <div class="text-3 text-white">Go together and make memories.</div>
        </div>
        <form role="form">
            <div class="row mt-4 m-0">
                <div class="col-4 search-input">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" name="keywords" placeholder="Where do you want to go?">
                </div>
                <div class="col-2">
                    <button class="fw-bold search-btn" type="submit">FIND TRIPS</button>
                </div>
            </div>
        </form>
    </div>
    <div class="addition">
    </div>
</div>
<!--  -->
<div class="main">
    <div class="container-xl m-auto p-0">
        <div class="d-flex justify-content-between align-items-center pt-4 pb-4">
            <div class="section-title">Discovery Trips</div>
            <div class="d-flex">
                <button class="border ms-2 filter-home" value="featured"><i class="fa-solid fa-fire"></i>&nbsp;
                    Featured</button>
                <button class="border ms-2 filter-home" value="lastchances"><i
                        class="fa-regular fa-hourglass-half"></i>&nbsp; Last Chances</button>
                <button class="border ms-2 filter-home" value="coworking"><i class="fa-solid fa-wifi"></i>&nbsp;
                    Coworking</button>
            </div>
        </div>
        <div class="row row-cols-4 g-2">
            <div class="col">
                <div class="card">
                    <img class="card-img-top"
                        src="https://qbtravel.vn/wp-content/uploads/2021/06/hang-son-doong-11.jpg">
                    <div class="card-body">
                        <div class="destination"><i class="fa-solid fa-location-dot"></i>&nbsp;Destination</div>
                        <a class="card-title">Trips title title title title title title title title title
                            title title title title title title title </a>
                        <div class="date">
                            <span class="me-2"><i class="fa-regular fa-calendar-days"></i>&nbsp;
                                22 DEC 22</span>
                            <span class="me-2"><i class="fa-regular fa-clock"></i>&nbsp; 7 Days</span>
                        </div>
                        <hr />
                        <div class="price d-flex flex-column">
                            <div>
                                <span class="cost">1.000.000</span>
                                <span class="currency">VND</span>
                            </div>
                            <div class="unit">per tripmate</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top"
                        src="https://qbtravel.vn/wp-content/uploads/2021/06/hang-son-doong-11.jpg">
                    <div class="card-body">
                        <div class="destination">
                            <i class="fa-solid fa-location-dot"></i>
                            <span>Destination</span>
                        </div>
                        <a class="card-title">Trips title title title title title title title title title
                            title title title title title title title </a>
                        <div class="date">
                            <span class="me-2"><i class="fa-regular fa-calendar-days"></i>&nbsp;
                                22 DEC 22</span>
                            <span class="me-2"><i class="fa-regular fa-clock"></i>&nbsp; 7 Days</span>
                        </div>
                        <hr />
                        <div class="price d-flex flex-column">
                            <div>
                                <span class="cost">1.000.000</span>
                                <span class="currency">VND</span>
                            </div>
                            <div class="unit">per tripmate</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top"
                        src="https://qbtravel.vn/wp-content/uploads/2021/06/hang-son-doong-11.jpg">
                    <div class="card-body">
                        <div class="destination">
                            <i class="fa-solid fa-location-dot"></i>
                            <span>Destination</span>
                        </div>
                        <a class="card-title">Trips title title title title title title title title title
                            title title title title title title title </a>
                        <div class="date">
                            <span class="me-2"><i class="fa-regular fa-calendar-days"></i>&nbsp;
                                22 DEC 22</span>
                            <span class="me-2"><i class="fa-regular fa-clock"></i>&nbsp; 7 Days</span>
                        </div>
                        <hr />
                        <div class="price d-flex flex-column">
                            <div>
                                <span class="cost">1.000.000</span>
                                <span class="currency">VND</span>
                            </div>
                            <div class="unit">per tripmate</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top"
                        src="https://qbtravel.vn/wp-content/uploads/2021/06/hang-son-doong-11.jpg">
                    <div class="card-body">
                        <div class="destination">
                            <i class="fa-solid fa-location-dot"></i>
                            <span>Destination</span>
                        </div>
                        <a class="card-title">Trips title title title title title title title title title
                            title title title title title title title </a>
                        <div class="date">
                            <span class="me-2"><i class="fa-regular fa-calendar-days"></i>&nbsp;
                                22 DEC 22</span>
                            <span class="me-2"><i class="fa-regular fa-clock"></i>&nbsp; 7 Days</span>
                        </div>
                        <hr />
                        <div class="price d-flex flex-column">
                            <div>
                                <span class="cost">1.000.000</span>
                                <span class="currency">VND</span>
                            </div>
                            <div class="unit">per tripmate</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top"
                        src="https://qbtravel.vn/wp-content/uploads/2021/06/hang-son-doong-11.jpg">
                    <div class="card-body">
                        <div class="destination">
                            <i class="fa-solid fa-location-dot"></i>
                            <span>Destination</span>
                        </div>
                        <a class="card-title">Trips title title title title title title title title title
                            title title title title title title title </a>
                        <div class="date">
                            <span class="me-2"><i class="fa-regular fa-calendar-days"></i>&nbsp;
                                22 DEC 22</span>
                            <span class="me-2"><i class="fa-regular fa-clock"></i>&nbsp; 7 Days</span>
                        </div>
                        <hr />
                        <div class="price d-flex flex-column">
                            <div>
                                <span class="cost">1.000.000</span>
                                <span class="currency">VND</span>
                            </div>
                            <div class="unit">per tripmate</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top"
                        src="https://qbtravel.vn/wp-content/uploads/2021/06/hang-son-doong-11.jpg">
                    <div class="card-body">
                        <div class="destination">
                            <i class="fa-solid fa-location-dot"></i>
                            <span>Destination</span>
                        </div>
                        <a class="card-title">Trips title title title title title title title title title
                            title title title title title title title </a>
                        <div class="date">
                            <span class="me-2"><i class="fa-regular fa-calendar-days"></i>&nbsp;
                                22 DEC 22</span>
                            <span class="me-2"><i class="fa-regular fa-clock"></i>&nbsp; 7 Days</span>
                        </div>
                        <hr />
                        <div class="price d-flex flex-column">
                            <div>
                                <span class="cost">1.000.000</span>
                                <span class="currency">VND</span>
                            </div>
                            <div class="unit">per tripmate</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top"
                        src="https://qbtravel.vn/wp-content/uploads/2021/06/hang-son-doong-11.jpg">
                    <div class="card-body">
                        <div class="destination">
                            <i class="fa-solid fa-location-dot"></i>
                            <span>Destination</span>
                        </div>
                        <a class="card-title">Trips title title title title title title title title title
                            title title title title title title title </a>
                        <div class="date">
                            <span class="me-2"><i class="fa-regular fa-calendar-days"></i>&nbsp;
                                22 DEC 22</span>
                            <span class="me-2"><i class="fa-regular fa-clock"></i>&nbsp; 7 Days</span>
                        </div>
                        <hr />
                        <div class="price d-flex flex-column">
                            <div>
                                <span class="cost">1.000.000</span>
                                <span class="currency">VND</span>
                            </div>
                            <div class="unit">per tripmate</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top"
                        src="https://qbtravel.vn/wp-content/uploads/2021/06/hang-son-doong-11.jpg">
                    <div class="card-body">
                        <div class="destination">
                            <i class="fa-solid fa-location-dot"></i>
                            <span>Destination</span>
                        </div>
                        <a class="card-title">Trips title title title title title title title title title
                            title title title title title title title </a>
                        <div class="date">
                            <span class="me-2"><i class="fa-regular fa-calendar-days"></i>&nbsp;
                                22 DEC 22</span>
                            <span class="me-2"><i class="fa-regular fa-clock"></i>&nbsp; 7 Days</span>
                        </div>
                        <hr />
                        <div class="price d-flex flex-column">
                            <div>
                                <span class="cost">1.000.000</span>
                                <span class="currency">VND</span>
                            </div>
                            <div class="unit">per tripmate</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  -->
    <div class="pt-5 pb-5 text-center">
        <div class="mb-1 fw-bold">Haven't found your favorite trips yet?</div>
        <div class="mb-2">View all of our trips looking for travelers</div>
        <a class="btn btn-outline-primary" href="#"><i class="fa-solid fa-magnifying-glass"></i>&nbsp; All
            trips</a>
    </div>
    <!-- -->
    <div class="container-xl m-auto mb-5 p-0">
        <div class="pt-4 pb-4">
            <div class="section-title">Trending Destinations</div>
        </div>
        <div class="row row-col-5 gx-2">
            <div class="col">
                <div class="card image-card">
                    <img
                        src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/16/1a/5c/2c/streets-by-riverfront.jpg?w=1200&h=-1&s=1">
                    <div class="card-body">
                        <h5 class="card-title">Hội An</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card image-card">
                    <img
                        src="https://bazantravel.com/cdn/medias/uploads/81/81303-di-da-lat-chi-voi-2-trieu-lich-trinh-2-ngay-1-dem-700x858.jpg">
                    <div class="card-body">
                        <h5 class="card-title">Đà Lạt</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card image-card">
                    <img src="http://bloganchoi.com/wp-content/uploads/2016/07/thuyen-thung.jpg">
                    <div class="card-body">
                        <h5 class="card-title">Phú Yên</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card image-card">
                    <img src="https://vivuhalong.com/wp-content/uploads/2020/12/Tour-Trang-An-Ninh-Binh-7.jpg">
                    <div class="card-body">
                        <h5 class="card-title">Ninh Bình</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card image-card">
                    <img
                        src="https://vcdn1-dulich.vnecdn.net/2022/06/03/cauvang-1654247842-9403-1654247849.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=Swd6JjpStebEzT6WARcoOA">
                    <div class="card-body">
                        <h5 class="card-title">Đà Nẵng</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>