<div class="container-fluid p-4 wrapper" id="loginForm">
    <div class="container-sm p-4 login-signup-form">
        <h5 class="mb-4"><b>Log in</b></h5>
        <button id="google-login" class="btn border"><i class="fa-brands fa-google float-start"></i>Continue
            with Google</button>
        <h6><i>- or -</i></h6>
        <form action="/auth/login" method="post">
            <div class="w-100 input">
                <input type="text" name="username" placeholder="Username or Email">
                <i class="fa-regular fa-envelope"></i>
            </div>
            <div class="w-100 input">
                <input type="password" name="password" placeholder="Password">
                <i class="fa-solid fa-lock"></i>
            </div>
            <button class="btn btn-primary w-100 rounded-1" type="submit">LOG IN</button>
        </form>
        <hr>
        <span><i>Or you still not have an account? <a class="login-btn btn btn-primary w-100 rounded-1" id="signupFromLogin" href="/auth/signup">Sign up</a></i></span>
    </div>
</div>