<div id="payment" class="container-fluid wrapper" style="background-color: #f8f4f4;">
    <div class="container-md p-5 my-5 d-flex flex-column gap-5 bg-light border rounded-1 shadow">
        <h3 class="fw-bold text-center text-uppercase">Payment Confirmation</h3>
        <small class="text-muted text-center">
            This feature has not been completed, please click <b>PURCHASE</b> to continue.
        </small>
        <a href="/mytrip" class="btn btn-gradient-info m-auto">PURCHASE</a>
    </div>
</div>