<footer class="container-fluid p-0">
    <div class="footer-info">
        <div class="container-xl p-0">
            <div class="row gx-5">
                <div class="col-3 control">
                    <h6 class="title">Travel</h6>
                    <a href="#">Join a trip</a>
                    <a href="#">Lead a trip</a>
                    <a href="#">How it works</a>
                </div>
                <div class="col-3 control">
                    <h6 class="title">GoSomeone</h6>
                    <a href="#">About us</a>
                    <a href="#">Payment</a>
                </div>
                <div class="col-3 control">
                    <h6 class="title">Support</h6>
                    <a href="#">Help & FAQ</a>
                    <a href="#">Contact</a>
                    <a href="#">Responsibilities</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container-xl footer-container p-0">
            <h6>2022&nbsp;<i class="fa-solid fa-at"></i>&nbsp;GOSOMEONE</h6>
            <div>
                <a class="ps-2"><img class="icon" src="/assets/images/facebook.png"></a>
                <a class="ps-2"><img class="icon" src="/assets/images/instagram.png"></a>
            </div>
        </div>
    </div>
</footer>