<header class="container-fluid header">
    <div class="container-xl header-container p-0">
        <div class="logo">
            <a href="/"><img src="./assets/logo_w.png"></a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-menu-item">
                <a class="text" href="#">join a trip</a>
            </div>
            <div class="navbar-menu-item">
                <a class="text" href="#">lead a trip</a>
            </div>
            <div class="navbar-menu-item">
                <a class="text" href="#">how it works</a>
            </div>
            <img class="user-icon" src="./assets/user.png">
        </div>
    </div>
</header>