<header class="container-fluid header">
    <div class="container-xl header-container p-0">
        <div class="logo">
            <a href="/"><img src="/assets/images/logo_w.png"></a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-menu-item">
                <a class="text" href="#">join a trip</a>
            </div>
            <div class="navbar-menu-item">
                <a class="text" href="#">lead a trip</a>
            </div>
            <div class="navbar-menu-item">
                <a class="text" href="#">how it works</a>
            </div>
            <img class="user-icon" src="/assets/images/user.png" data-bs-toggle="modal" data-bs-target="#side-menu">
        </div>
    </div>
    <div class="modal" id="side-menu" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body p-0">
                    {{#if user}}
                    {{> loginmenu }}
                    {{else}}
                    {{> usermenu }}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>

</header>