<div class="login-menu p-5 d-none">
    <a class="login-btn btn btn-primary w-100 rounded-1">LOG IN</a>
    <span class="text-small"><small>Or still need to join?</small></span>
    <a class="signup-btn btn btn-outline-secondary w-100 rounded-1">SIGN UP</a>
</div>