<div class="login-menu p-5">
    <a class="login-btn btn btn-primary w-100 rounded-1" href="/site/logging">LOG IN</a>
    <span class="text-small"><small>Or still need to join?</small></span>
    <a class="signup-btn btn btn-outline-secondary w-100 rounded-1" href="/site/signing">SIGN UP</a>
</div>
