<div class="user-menu">
    <div class="menu-header">
        <div class="user">
            <a href="/profile"><img
                {{#if user.profile.ava}} src="{{user.profile.ava}}" 
                {{else}} src="/assets/images/user.png" {{/if}} ></a>
            <div>
                <h6 class="name">{{user.first_name}}</h6>
                <a href="/site/edit-profile">Edit profile</a>
            </div>
        </div>
        <i class="fa-solid fa-bell fs-4 text-muted"></i>
    </div>
    <div class="menu-item">
        <a href="#"><i class="fa-regular fa-message"></i>&nbsp; CHAT</a>
    </div>
    <div class="menu-item">
        <a href="#"><i class="fa-regular fa-bookmark"></i>&nbsp; SAVED TRIPS</a>
    </div>
    <div class="menu-item">
        <a href="/site/personal-info"><i class="fa-regular fa-id-card"></i>&nbsp; PERSONAL INFORMATION</a>
        <a href="#"><i class="fa-solid fa-wallet"></i>&nbsp; PAYMENTS & PAYOUTS</a>
    </div>
    <div class="menu-item">
        <a href="#"><i class="fa-solid fa-gear"></i>&nbsp; SETTING</a>
    </div>
    <div class="menu-item">
        <a href="/site/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i>&nbsp; SIGN OUT</a>
    </div>
</div>